<?xml version="1.0" encoding="UTF-8"?>    
<configuration status="OFF">    
  <appenders>    
    <Console charset="GBK" name="Console" target="SYSTEM_OUT">    
      <PatternLayout pattern="%d{HH:mm:ss}  [%-5level] : %msg%n"/>    
    </Console>  
    <!-- 日志输出到日志文件 -->  
     <File name="log" fileName="log/test.log" append="true">
            <ThresholdFilter level="trace"/>
            <PatternLayout pattern="%d{HH:mm:ss}  [%-5level] : %msg%n"/>    
     </File>  
  </appenders>    
  <loggers>    
    <root level="info">    
      <appender-ref ref="Console"/> 
      <appender-ref ref="log"></appender-ref>
    </root>    
  </loggers>    
</configuration>  





